@page
@model MainProject.Pages.BookingModel
@{
    ViewData["Title"] = "Booking";
    ViewBag.UserType = HttpContext.Session.GetString("UserType");
}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script>
    toastr.options = {
        "closeButton": true,
        "positionClass": "toast-top-right",
        "progressBar": true,
        "timeOut": "5000",
        "extendedTimeOut": "2000"
    }
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"> </script>


@if (Model.Error == "true")
{
    <script type="text/javascript">
        toastr.error("oops,error.");
    </script>
}
@if (Model.Error == "true1")
{
    <script type="text/javascript">
        toastr.error("Check your check-in and Check-out dates.");
    </script>
}
@if (Model.Error == "true2")
{
    <script type="text/javascript">
        toastr.error("Check Guest Data.");
    </script>
}
@if (Model.Error == "true3")
{
    <script type="text/javascript">
        toastr.error("Check Transaction Data.");
    </script>
}
@if (Model.Error == "true4")
{
    <script type="text/javascript">
        toastr.error("Please select a room.");
    </script>
}
@if (Model.Error == "true5")
{
    <script type="text/javascript">
        toastr.error("The selected room is not available for the specified period.");
    </script>
}
@if (TempData["Success"] != null)
{
    <script type="text/javascript">
        toastr.success(@TempData["Success"]);
    </script>
}

<!-- Page Header Start -->
<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="hero-text">
                    <h1>HarmoniStay For Hotel Management</h1>
                    <p>
                        Here is the best hotel management site, including management for staff, event, facilities and room reservations.
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
            </div>
        </div>
    </div>
    <div class="hero-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg="img/hero/hero-1.jpg"></div>
        <div class="hs-item set-bg" data-setbg="img/hero/hero-2.jpg"></div>
        <div class="hs-item set-bg" data-setbg="img/hero/hero-3.jpg"></div>
    </div>
</section>

<div class="container-fluid page-header mb-5 p-0">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center pb-5">
            <h1 class="display-3 mb-3 animated slideInDown" style="color:#d4af7a;">Booking</h1>
        </div>
    </div>
</div>
    <!-- Page Header End -->

<!-- Booking Start -->
<div class="container-xxl py-5" >
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6">
                <div class="row g-3">
                    <img src="~/img/room/room-b3.jpg">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="wow fadeInUp" data-wow-delay="0.2s">
                    <form method = "post">
                        <div class="row g-3">
                            <!--Date Info-->
                            <div class="col-md-6">
                                <label for="name">Check In</label>
				                <div class="form-floating">
                                    <div class="date" id="date2" data-target-input="nearest">
                                        <input type="date" class="form-control datetimepicker-input" name="checkin"
                                        placeholder="Check In" data-target="#date2" data-toggle="datetimepicker" required />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="name">Check Out</label>
                                <div class="form-floating">
                                    <div class="date" id="date2" data-target-input="nearest">
                                        <input type="date" class="form-control datetimepicker-input" name="checkout"
                                        placeholder="Check Out" data-target="#date2" data-toggle="datetimepicker" required />
                                    </div>
                                </div>
                            </div>
                            <!--Guest Info-->
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" name="guestId" placeholder="Guest ID" required />
                                    <label for="name">Guest ID</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="name" name="guestName" placeholder="Guest Name" required />
                                    <label for="name">Guest Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="phoneNumber" name="guestPhoneNumber" placeholder="Guest PhoneNumber" required />
                                    <label for= "phoneNumber" > Guest PhoneNumber </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="name" name="guestNationality" placeholder="Guest Nationality" required />
                                    <label for="name">Guest Nationality</label>
                                </div>
                            </div>
                                <!--Room Info-->
                            <div class="col-12">
                                <div class="float-form">
                                    <select class="form-control" id="SelectedRoomId" name="SelectedRoomId" style="height: auto;max-height: 200px; overflow-x: hidden; display:flex; background-color:white;">
                                        <option selected>Select A Room</option>
                                        @foreach (var room in Model.HotelRooms)
                                        {
                                            <option value="@room.RoomID"> @room.RoomID - @room.RoomType - @room.RoomCategory </option>
                                        }
                                    </select>
                                </div>
                            </div>
				                <!--Transaction Info-->
			                <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" name="transactionFee"
                                               placeholder="Transaction Fees" required />
                                    <label for="name">Transaction Fees</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Transaction Description" id="message" name="transactionDescription" style="height: 100px"></textarea>
                                    <label for="message">Transaction Description</label>
                                </div>
                            </div>
                                <!--Booking Button-->
                            <div class="col-12">
                                <input type="submit" style="background-color:#d4af7a; border-color:#d4af7a; color:white" value="Book Now" class="btn btn-primary w-100" />
                            </div>
                                <!--Booking History-->
                            <div class="col-md-12">
                                <a asp-area="" asp-page="/Bookings" style="color:#d4af7a">Booking History</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>