@page "{id}"
@model MainProject.Pages.EditEventModel

@{
    ViewData["Title"] = "EditEvent";
    ViewBag.UserId = HttpContext.Session.GetString("UserId");
            //Layout = null;

}
<!-- Page Header Start -->
<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="hero-text">
                    <h1>HarmoniStay For Hotel Management</h1>
                    <p>
                        Here is the best hotel management site, including management for staff, event, facilities and room reservations.
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
            </div>
        </div>
    </div>
    <div class="hero-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg=@Url.Content("~/img/hero/hero-1.jpg")></div>
        <div class="hs-item set-bg" data-setbg=@Url.Content("~/img/hero/hero-2.jpg")></div>
        <div class="hs-item set-bg" data-setbg=@Url.Content("~/img/hero/hero-3.jpg")></div>
    </div>
</section>

<div class="container-fluid page-header mb-5 p-0">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center pb-5">
            <h1 class="display-3 mb-3 animated slideInDown" style="color:#d4af7a;">Edit Event</h1>
        </div>
    </div>
</div>
<!-- Page Header End -->
@if (Model.Error)
{
    <p style="font-family:verdana ;color:black; font-size:20px; margin-left:70px"> @Model.Message.</p>
}

<div class="container-fluid page-header mb-5 p-0">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center pb-5">
            <h1 class="display-3 mb-3 animated slideInDown" style="color:#d4af7a;">Edit Event</h1>
        </div>
    </div>

<form id="form" method="post" class="container-fluid booking pb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="bg-white shadow" style="padding: 35px;">
            <div class="row g-2">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-2">
                            <label class="primary-btn" style="color:black ">  Event Name:</label>
                        </div>
                        <div class="col-md-4">
                            <div class="date" id="date1" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" name="eventName" value="@Model.EventName"
                                       placeholder="Event Name" data-target="#date1" data-toggle="datetimepicker" required />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label for="Etype" class="primary-btn" style="color:black; margin-left:20px "> Event Type:</label>
                        </div>
                        <div class="col-md-4">
                            <div class="date" id="date1" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" name="eventType" value="@Model.EventType"
                                       placeholder="Event Type" data-target="#date1" data-toggle="datetimepicker" required />
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row g-2">

                        <div class="col-md-2">
                            <label class="primary-btn" style="color:black "> Start Date :</label>
                        </div>
                        <div class="col-md-4">

                            <div class="date" id="date2" data-target-input="nearest">
                                <input type="date" class="form-control datetimepicker-input" name="startDate" value="@Model.StartDate"
                                       placeholder="Start Date" data-target="#date2" data-toggle="datetimepicker" required />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label class="primary-btn" style="color:black ;margin-left:20px">  Start Time :</label>
                        </div>
                        <div class="col-md-4">

                            <div class="date" id="date2" data-target-input="nearest">
                                <input type="time" class="form-control datetimepicker-input" name="startDate" value="@Model.StartDate"
                                       placeholder="start Hour" data-target="#date2" data-toggle="datetimepicker" required />
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row g-2">
                        <div class="col-md-2">
                            <label class="primary-btn" style="color:black ">  End Date :</label>
                        </div>
                        <div class="col-md-4">
                            <div class="date" id="date2" data-target-input="nearest">
                                <input type="date" class="form-control datetimepicker-input" name="endDate" value="@Model.EndDate"
                                       placeholder="End Date" data-target="#date2" data-toggle="datetimepicker" required />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label class="primary-btn" style="color:black ; margin-left:20px "> End Time :</label>
                        </div>
                        <div class="col-md-4">
                            <div class="date" id="date2" data-target-input="nearest">
                                <input type="time" class="form-control datetimepicker-input" name="endDate" value="@Model.EndDate"
                                       placeholder="start Hour" data-target="#date2" data-toggle="datetimepicker" required />
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="row g-2">
                    <div class="col-md-8">
                        <div class="col-md-4">
                            <div class="date" id="date1" data-target-input="nearest">
                                <select id="Facility" name="Facility">
                                    @foreach (var fac in Model.Facilities)
                                    {
                                        @if (Model.Curr.EventFacility == fac)
                                        {
                                            <option  selected value="@fac.FacilityName">@fac.FacilityName</option>
                                        }
                                        else
                                        {
                                            <option value="@fac.FacilityName">@fac.FacilityName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="date" id="date1" data-target-input="nearest">
                            <input type="number" class="form-control datetimepicker-input" name="EventFee"
                                   placeholder="EventFee" required />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="date" id="date1" data-target-input="nearest">

                                <input type="submit" style="background-color:#d4af7a; border-color:#d4af7a; color:white;" value="Save" class="btn btn-primary w-100" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</div>