@page "{id}"

@model MainProject.Pages.EventViewModel
@{
    ViewData["Title"] = "EventView";
    ViewBag.UserType = HttpContext.Session.GetString("UserType");
    //Layout = null;

}
<!-- Page Header Start -->
<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="hero-text">
                    <h1>HarmoniStay For Hotel Management</h1>
                    <p>
                        Here is the best hotel management site, including management for staff, event, facilities and room reservations.
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
            </div>
        </div>
    </div>
    <div class="hero-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg=@Url.Content("~/img/hero/hero-1.jpg")></div>
        <div class="hs-item set-bg" data-setbg=@Url.Content("~/img/hero/hero-2.jpg")></div>
        <div class="hs-item set-bg" data-setbg=@Url.Content("~/img/hero/hero-3.jpg")></div>
    </div>
</section>

<div class="container-fluid page-header mb-5 p-0">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center pb-5">
            <h1 class="display-3 mb-3 animated slideInDown" style="color:#d4af7a;">View Events</h1>
        </div>
    </div>
</div>
    <!-- Page Header End -->

@if (!string.IsNullOrEmpty(Model.Message))
{
  

    <h4>@Model.Message</h4>
  <br><br>
  
}
else
{
    

<h2>@Model.EventType</h2>
<br >
<table class="table table-striped table-dark">
    <thead>

        <tr>
            <th scope="col">Event Name </th>
            <th scope="col">Event Start</th>
            <th scope="col">Event End</th>
            @if (Model.EventType=="All Events"){

            <th scope="col">Event Type</th>
            }
            
            <th scope="col">Delete </th>
            <th scope="col">Edit </th>
            
           
        </tr>
    </thead>
    <tbody>

       
            @foreach (var x in Model.SlectedEventType)
        {
            <tr>
                <th scope="col">@x.EventName </th>
                <th scope="col">@x.EventStart</th>
                <th scope="col">@x.EventEnd</th>
               
                    @if (Model.EventType=="All Events")
                    {
                        
                
                    <th scope="col">@x.EventType</th>
          
                    
                    }
                
                <th scope="col">

                    <a href="/RemoveEvent/@x.EventID"  onclick="return confirm('Are you sure you want to delete?')">
                    <button type="button" class="btn btn-outline-light">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
                        </svg>
                        </button></a>
                </th>
                <th scope="col">

                    <a href="/EditEvent/@x.EventID">
                    <button type="button" class="btn btn-outline-light">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                        </svg>
                    </button></a>
                </th>
                
            </tr>
        }

    </tbody>
</table>
}