@page "{id}"

@model MainProject.Pages.EventViewModel
@{
    ViewData["Title"] = "EventView";
    ViewBag.UserId = HttpContext.Session.GetString("UserId");
    //Layout = null;

}

<h2>@Model.EventType</h2>
<table class="table table-striped table-dark">
    <thead>

        <tr>
            <th scope="col">Event Name </th>
            <th scope="col">Event Start</th>
            <th scope="col">Event End</th>
            <th scope="col">Delete </th>
            <th scope="col">Edit </th>
            <th scope="col">ID </th>
           
        </tr>
    </thead>
    <tbody>

       
        @foreach (var x in Model.q)
        {
            <tr>
                <th scope="col">@x.EventName </th>
                <th scope="col">@x.EventStart</th>
                <th scope="col">@x.EventEnd</th>
                <th scope="col">

                    @* <button asp-page-handler="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger btn-sm">Delete</button> *@
                   @*  <a href="RemoveStaff/@item.EmployeeID" class="btn " style="display:grid"> Remove<i class="bi  bg-black bi-x-circle-fill"></i></a> *@
                    <a href="/RemoveEvent/@x.EventID"  onclick="return confirm('Are you sure you want to delete?')">
                    <button type="button" class="btn btn-outline-light">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
                        </svg>
                        </button></a>
                </th>
                <th scope="col">

                    <a href="/EditEvent/@x.EventID">
                    <button type="button" class="btn btn-outline-light">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                        </svg>
                    </button></a>
                </th>
                <th scope="col">@x.EventID</th>
            </tr>
        }
       @*  @for (int i = 0; i < Model.eventList.Count(); i++)
        {

            <tr>
                <th scope="row">@Model.eventList[i]</th>
              @*  <td>  @Model.eventList[i+1]</td>
            <td>@Model.eventList[i+2]</td>

           

            *@

    </tbody>
</table>