@page
@model MainProject.Pages.StaffModel


@{
    ViewData["Title"] = "Staff";
    ViewBag.UserId = HttpContext.Session.GetString("UserId");
}

<!-- Page Header Start -->
<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="hero-text">
                    <h1>HarmoniStay For Hotel Management</h1>
                    <p>
                        Here is the best hotel management site, including management for staff, event, facilities and room reservations.
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
            </div>
        </div>
    </div>
    <div class="hero-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg="img/hero/hero-1.jpg"></div>
        <div class="hs-item set-bg" data-setbg="img/hero/hero-2.jpg"></div>
        <div class="hs-item set-bg" data-setbg="img/hero/hero-3.jpg"></div>
    </div>
</section>

<div class="container-fluid page-header mb-5 p-0">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center pb-5">
            <h1 class="display-3 mb-3 animated slideInDown" style="color:#d4af7a;">Staff</h1>
        </div>
    </div>
    <!-- Page Header End -->
    <!-- Staff Start -->
    <form method="post" class="container-fluid booking pb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <div class="bg-white shadow" style="padding: 35px;">
                <div class="row g-2">
                    <div class="col-md-10">
                        <div class="row g-2">
                            <div class="col-md-2">
                                <label class="primary-btn" style="color:black "> Facility Category :</label>
                            </div>
                            <div class="col-md-4">
                                <div class="date" id="date1" data-target-input="nearest">
                                    <select class="form-control" id="Facility" name="Facility">
                                        @foreach (var fac in Model.CategoryFacilities)
                                        {
                                            <option value="@fac">@fac</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="date" id="date1" data-target-input="nearest">
                            <input type="submit" style="background-color:#d4af7a; border-color:#d4af7a; color:white;" value="Show" class="btn btn-primary w-100" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <br /><br />
                        <a asp-area="" asp-page="/AddEmployee" style="color:#d4af7a;">Add Employee</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@if (Model.Category is not null)
{
    <div class="table-responsive">
        <table class="table align-middle">
            <thead>
            <th>
                Photo
            </th>
            <th>
                EmployeeID
            </th>
            <th>
                EmployeeName
            </th>
            <th>
                WorkinHours
            </th>
            <th>
                Salary
            </th>
            <th>
                Facility
            </th>
            <th>
                <span style="width :20px"></span>
                <span></span>
                <span></span>
                more
            </th>
            </thead>
            <tbody>

                @foreach (var item in Model.Emps)
                {
                    <tr>
                        <td>
                            @if (Model.Tags[item.EmployeeID] is not null)
                            {
                                <img src="@Model.Tags[item.EmployeeID]" width="130" height="130" />
                            }
                            else
                            {
                                <p>N / A</p>
                            }

                        </td>
                        <td>@item.EmployeeID</td>
                        <td>@item.EmployeeName</td>
                        <td>@item.WorkingHours</td>
                        <td>@item.EmployeeSalary</td>
                        <td>@Model.Category</td>
                        <td>
                            <div>
                                <a href="RemoveStaff/@item.EmployeeID" class="btn " style="display:grid"> Remove<i class="bi  bg-black bi-x-circle-fill"></i></a>
                                <a href="EditStaff/@item.EmployeeID" class="btn " style="display:grid"> Edit<i class="bi  bg-black bi-x-circle-fill"></i></a>
                            </div>

                        </td>

                    </tr>

                }
            </tbody>
        </table>
    </div>
}
<!-- Staff End -->