@page
@model MainProject.Pages.StaffModel


@{
    ViewData["Title"] = "Staff";
    ViewBag.UserId = HttpContext.Session.GetString("UserId");
}

<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 p-0" style="background-image: url(@Url.Content("~/img/hero/hero-1.jpg"));">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center pb-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Staff</h1>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Staff Start -->
<form method="post" class="container-fluid booking pb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="bg-white shadow" style="padding: 5px;">
            <div class="row g-2">
                <div class="col-md-8">
                    <div class="row g-2">
                        <div class="col-md-3">
                            <div class="date" id="date1" data-target-input="nearest">
                                <select id="Facility" name="Facility">
                                    @foreach (var fac in Model.CategoryFacilities)
                                    {
                                        <option value="@fac">@fac</option>
                                    }


                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="date" id="date1" data-target-input="nearest">
                        <input type="submit" style="background-color:#d4af7a; border-color:#d4af7a; color:white;" value="Show" class="btn btn-primary w-100" />
                    </div>
                </div>
                <div class="col-md-2">
                    <a asp-area="" asp-page="/AddEmployee" class="btn" style="background-color:#d4af7a; border-color:#d4af7a; color:white;">Add Employee</a>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="table-responsive">
    <table class="table align-middle">
        <thead>
        <th>
            Photo
        </th>
        <th>
            EmployeeID
        </th>
        <th>
            EmployeeName
        </th>
        <th>
            WorkinHours
        </th>
        <th>
            Salary
        </th>
        <th>
            Facility
        </th>
        <th>
            <span style="width :20px"></span>
            <span></span>
            <span></span>
            more
        </th>
        </thead>
        <tbody>

            @foreach (var item in Model.Emps)
            {
                <tr>
                    <td>
                        @if (Model.Tags[item.EmployeeID] is not null)
                        {
                            <img src="@Model.Tags[item.EmployeeID]" width="149" height="149" />
                        }
                        else
                        {
                            <p>N / A</p>
                        }

                    </td>
                    <td>@item.EmployeeID</td>
                    <td>@item.EmployeeName</td>
                    <td>@item.WorkingHours</td>
                    <td>@item.EmployeeSalary</td>
                    <td>@Model.Category</td>
                    <td>
                        <div>
                            <a href="RemoveStaff/@item.EmployeeID" class="btn " style="display:grid"> Remove<i class="bi  bg-black bi-x-circle-fill"></i></a>
                            <a href="EditStaff/@item.EmployeeID" class="btn " style="display:grid"> Edit<i class="bi  bg-black bi-x-circle-fill"></i></a>
                        </div>


                    </td>

                </tr>

            }
        </tbody>
    </table>
</div>

<!-- Staff End -->
