@page
@model MainProject.Pages.StaffModel

<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 p-0" style="background-image: url(img/hero/hero-1.jpg);">
        <div class="container-fluid page-header-inner py-5">
            <div class="container text-center pb-5">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Staff</h1>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    <!-- Staff Start -->
    <form method="post" class="container-fluid booking pb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <div class="bg-white shadow" style="padding: 35px;">
                <div class="row g-2">
                    <div class="col-md-10">
                        <div class="row g-2">
                            <div class="col-md-3">
                                <div class="date" id="date1" data-target-input="nearest">
                                <select id="Facility" name="Facility">
                                    @foreach(var fac in Model.CategoryFacilities)
                                    {
                                        <option value="@fac">@fac</option>
                                    }
                                   
                                   
                                </select>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="date" id="date1" data-target-input="nearest">
                        <input type="submit" style="background-color:#d4af7a;" value="Submit" class="btn btn-primary w-100" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

<div class="table-responsive">
    <table class="table align-middle">
        <thead>
        <th>
               Photo
        </th>
        <th>
                EmployeeID
            </th>
        <th>
            EmployeeName 
           </th>
        <th>
                WorkinHours
            </th>
        <th>
                Salary
        </th>
        <th>
            Facility
        </th>
        <th>
            more
        </th>
        </thead>
        <tbody>
          
            @foreach(var item in Model.Emps)
            {
                <tr>
                    <td>@item.Image</td>
                    <td>@item.EmployeeID</td>
                    <td>@item.EmployeeName</td>
                    <td>@item.WorkingHours</td>
                    <td>@item.EmployeeSalary</td>
                    <td>@Model.category</td>
                    <td>
                        <a href="RemoveStaff/@item.EmployeeID" class="btn "> <i class="bi  bg-black bi-x-circle-fill"></i></a>
                        <a href="EditStaff/@item.EmployeeID" class="btn "> <i class="bi  bg-black bi-x-circle-fill"></i></a>
                        
                    </td>
                    
                </tr>

            }
        </tbody>
    </table>
</div>

<!-- Staff End -->



